# Python
_pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Dependencies
node_modules/
*.npm
package-lock.json
yarn.lock

# Environment variables
venv/
.env/
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build outputs
dist/
build/
*.log

# OS
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.bak

# Assets Exports
*.psd
*.kra